@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&family=Source+Sans+Pro&display=swap');


.card-header{
    margin-top: 40px;
}

.font-size{
    font-size: 2.5rem;
    color: #373A3C;
    font-family: "Source Sans Pro", sans-serif;
}

.Need-css {
    color:rgb(114,188,116) ;
    text-decoration: none;
}
.Need-css:hover{
    text-decoration: underline; 
    color: #5CB85C;
}

.card-body {
    margin-top: 20px;
}

.Emailcss {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #55595c;
}

.user-pic {
    height: 26px;
    border-radius: 50px;
    /* float: left; */
    margin-right: 5px;

}